/* 창이 줄어들면 버튼이 생기게 하는법 */
.mopen {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
    padding: 10px;
    background: #ddd;
}

@media (max-width:768px) {
    .mopen {
        display: block;
    }
}
